<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragment :: title"></head>
    <body>
       	<h3 th:text="'NPM = ' + ${student.npm}">Student NPM</h3>
       	<h3 th:text="'Name = ' + ${student.name}">Student Name</h3>
       	<h3 th:text="'GPA = ' + ${student.gpa}">Student GPA</h3>
       	<h3>Kuliah yang Diambil :</h3>
       	<ul th:each="course,iterationStatus: ${student.courses}">
       		<li th:text="${course.name} + ' - ' + ${course.credits} + ' SKS'">Matkul - X SKS</li>
       	</ul>
    </body>
</html>

